.ViewsDescription-container {
  width: 100%;
  margin-top: 50px;
  padding: 20px;
  background-image: url('../../assets/planetas/planetWild.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; 
} 