.container-p,
.title-skill,
.container-project-home {
  box-shadow: 3px 3px 15px rgba(199, 189, 189, 0.973);
  border: 1px solid #2196F3;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.3);
}

.container-description {
  width: 100%;
  height: auto;
  text-align: center;
  gap: 100px;
}

@media (max-width: 768px) {
  .container-description {
    gap: 30px; 
  }
}

.container-p {
  margin: 0 auto;
  max-width: 500px;
  padding: 2rem;
}

.title-skill {
  backdrop-filter: blur(20px);
}

.container-project-home {
  margin: 0 auto;
  max-width: 500px;
}