/* Navbar.css - Flotante y Transparente */
.container-navbar {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%; /* No toca los bordes, flota */
  max-width: 1200px;
  border-radius: 50px; /* Forma de cápsula */
  background: rgba(255, 255, 255, 0.03) !important;
  backdrop-filter: blur(15px);
  border: 0.5px solid rgba(188, 19, 254, 0.3) !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
}

/* Efecto cuando el usuario hace scroll */
.container-navbar:hover {
  border-color: var(--neon-green) !important;
  box-shadow: 0 0 20px rgba(57, 255, 20, 0.1);
  transform: translateY(2px);
}

.nav-link-custom {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 15px;
}