

.carousel {
    max-width: 50rem;
    max-height: auto;
    border: 1px solid #2196F3;
    border-radius: 10px;
}

.carousel img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.carousel-caption {
    box-shadow: 5px 5px 20px rgba(199, 189, 189, 0.973);
    border: 1px solid #2196F3;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
}

