.container-videos {
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.button-links-video {
  gap: 10px;
}

.custom-video {
  padding: 10px;
  background: linear-gradient(#0000 0%, #ffffff1a 100%)
}

