
.section-intro {
  min-height: 80vh;
  display: flex;
  align-items: center;
  padding: 60px 0;
  margin-top: 20px;
}

.section-intro-text, 
.container-intro-bio {
  backdrop-filter: blur(15px);
  background: rgba(10, 10, 12, 0.6);
  border-radius: 15px;
  padding: 25px;
  border: 0.5px solid var(--neon-blue) !important;
  box-shadow: var(--shadow-blue);
}

.container-intro-bio {
  border-color: var(--neon-green) !important;
  box-shadow: var(--shadow-green);
}

.image-container-neon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
}

.rounded-image-fixed {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;
  border: 0.5px solid var(--neon-blue) !important;
  box-shadow: var(--shadow-blue);
  transition: all 0.5s ease;
}

.rounded-image-fixed:hover {
  border-color: var(--neon-green) !important;
  box-shadow: var(--shadow-green);
  transform: translateY(-10px);
}

@media (min-width: 992px) {
  .section-intro {
    padding: 100px 0;
  }
  
  .image-container-neon {
    max-width: 400px;
  }
}

@media (max-width: 991px) {
  .image-container-neon {
    margin-top: 40px;
    max-width: 280px;
  }
}