.container-Home {
    transform: scale(0.94);
    animation: scale 3s forwards
    cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.container-arrow {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}