@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #000428;
  background: linear-gradient(to right, #000428, #004e92);
  font-family: 'Roboto', sans-serif;
}

.css-button-gradient--5 {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #000428 0%, #004e92 75%);
}

.css-button-gradient--5:hover {
  background-position: right center;
}

.css-button-gradient--5:active {
  top: 2px;
}


/*ScrollBar*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #00ffff;
  border-radius: 6px;
  box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00e5ff;
  box-shadow: 0 0 10px #00e5ff, 0 0 20px #00e5ff;
}

/*animaciones*/
.animated-text {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text-dos {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUpDos {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text-tres {
  opacity: 0;
  transform: translateX(20px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUpTres {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}