@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: #000428;
    background: linear-gradient(to right, #000428, #004e92);
    margin-top: 56px;
    font-family: 'Roboto', sans-serif;
}

/*ScrollBar*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/*animaciones*/
.animated-text {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 2s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-text-dos {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUpDos {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-text-tres {
    opacity: 0;
    transform: translateX(20px);
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUpTres {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
